<div class="product-card">
  <img [src]="product.image" [alt]="product.name" class="product-image" />
  <div class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-description">{{ product.description }}</p>
    <div class="product-footer">
      <span class="product-price">{{ product.price }} €</span>
      <button class="add-to-cart-btn" (click)="addToCart()">🛒 Ajouter</button>
      <button [routerLink]="['/products', product.id]">Lien</button>
    </div>
  </div>
</div>
